{%extends "myWebsiteApp/base.html"%}
{%block items %}
	active
{%endblock items%}
	{%block content%}
		<div class="row">
			<div class="main1 col-md-4">
				<img src="/media/myDjangoProject/newari2.png" class="img-responsive img-rounded" alt="newari2">
				<div class="back1"></div>
				<p class="texty1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
			</div>
			<div class=" main2 col-md-4">
				<img src="/media/myDjangoProject/newari_khaja.png" class="img-responsive img-rounded" alt="food">
				<div class="back2"></div>
				<p class="texty2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
				
			</div>
			<div class=" main3 col-md-4">
				<img src="/media/myDjangoProject/chwela.png" class="img-responsive img-rounded" alt="wings">
				<div class="back3"></div>
				<p class="texty3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
				
			</div>
		</div>
	{%endblock content%}

